#albumscarousel .listitem,
#friendscarousel .listitem {
	padding: 20px;
}
#albumscarousel .listitem.active.focus,
#friendscarousel .listitem.active.focus {
	background: #fff;
	color: #000;
}

.albumphoto {
	padding:20px;
}
.albumphoto .image {
	width:300px;
	overflow: hidden;
}